.sub{
    text-align: center;
}

.btt{
    width: 150px;
}

form{
    display: grid;
    grid-template-columns: 50% 50%;

}input{
    width: 30%;
}
.myForm{
    display: inline-block;
    width: 30%;

}
.form-title{
    margin: 30px 10px;
}
.myTitle{
    margin: 35px 11px;
}

.wrapTitle{
    color: white;
    padding : 5px;
}

.text-left{
    text-align: left;
}

.body{
    background-color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: darkolivegreen;
}
.display-select{
    position: absolute;
    height: 30px;
    width: 150px;
    right: 400px;
    top: 25px;
}

.div-right{
    display: flex;
    flex-direction : column;
   justify-content: center;
    
}
.ff1{
    margin-bottom: 10px;
    display: flex;
    flex-direction : row;
   justify-content: space-around;
    
}

.div-left{
    display: flex;
    flex-direction : column;
   justify-content: center;
}


